;; Copyright © 2020, JUXT LTD.

{:paths ["src" "test"]
 :deps
 {io.vertx/vertx-core {:mvn/version "3.9.2"}
  io.vertx/vertx-rx-java2 {:mvn/version "3.9.2"}
  io.vertx/vertx-reactive-streams {:mvn/version "3.9.2"}
  io.netty/netty-transport-native-epoll {:mvn/version "4.1.15.Final"}

  ;; Required for content-store
  ;; RFC 7693
  org.kocakosm/jblake2 {:mvn/version "0.4"}
  }}
